In [1]:
import pandas as pd
import sqlalchemy
import ssl
import spacy
import nltk.corpus
from sklearn.feature_extraction.text import CountVectorizer
import re
import string
from spacytextblob.spacytextblob import SpacyTextBlob

try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    pass
else:
    ssl._create_default_https_context = _create_unverified_https_context
nltk.download('stopwords')
from nltk.corpus import stopwords



conn_string = "postgresql://youtube-project:Zhanghaokun_6@35.226.197.36/youtube-content"
engine = sqlalchemy.create_engine(conn_string)

sql_data = pd.read_sql_table('youtube_metrics',engine)
stop_words = stopwords.words('english')

nlp = spacy.load('en_core_web_sm')
nlp.add_pipe("spacytextblob")

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/amalkadri/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
sql_data
sql_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12291 entries, 0 to 12290
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     12291 non-null  int64
 1   videoID   12291 non-null  object
 2   likes     12291 non-null  object
 3   comments  12291 non-null  object
 4   length    12291 non-null  object
 5   views     12291 non-null  object
dtypes: int64(1), object(5)
memory usage: 576.3+ KB

In [3]:
comments_df = pd.read_sql_table('youtube_comments',engine)

In [4]:
comments_df

        index      videoID                                            comment
0           0  SwSbnmqk3zY  Hi Thoufiq, this is very impressive! I‚Äôm watch...
1           1  SwSbnmqk3zY  Hi Thoufiq, Thanks for sharing this informativ...
2           2  SwSbnmqk3zY  Hi Thoufiq, excellent video absolutely loved i...
3           3  SwSbnmqk3zY  Thanks, Brother. This was a bit intricate for ...
4           4  SwSbnmqk3zY  One of the best Analysis video I have seen so ...
...       ...          ...                                                ...
124983      5  pJiYw2pUceg                                           Gorgeous
124984      6  pJiYw2pUceg       Sick video. This is the best Bloody Mary mix
124985      7  pJiYw2pUceg                                           sweetüòãüòöüëç
124986      8  pJiYw2pUceg                                             this‚ù§‚ù§
124987      9  pJiYw2pUceg                                               üòâüòâüòâüòâ

[124988 rows x 3 columns]

In [5]:
def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

def clean_text_round2(text):
    '''Get rid of some additional punctuation and non-sensical text that was missed the first time around.'''
    text = re.sub('[‚Äò‚Äô‚Äú‚Äù‚Ä¶]', '', text)
    text = re.sub('\n', '', text)
    return text

In [26]:
comm_analysis = comments_df[['videoID','comment']].drop_duplicates().head(100)
comm_analysis['comment'] = comm_analysis.groupby(['videoID'])['comment'].transform(lambda x : ' '.join(x))
comm_analysis = comm_analysis.drop_duplicates().reset_index()[['videoID','comment']]
comm_analysis

       videoID                                            comment
0  SwSbnmqk3zY  Hi Thoufiq, this is very impressive! I‚Äôm watch...
1  B_xNI6tuOeI  Very Impressive finishing work. Nice to see th...
2  vGJL0BgVMOw  perfect taste combination... gonna try this re...
3  ianApRDflh0  Here‚Äôs the potato harvest! https://youtu.be/UK...
4  8nQUQJKnX0E                                               Good
5  K4a3dTScBlg  Having a toilet was must for our camper van an...
6  pb4xXXEA8zk  Girl!! You are on a serious streak with these ...

In [27]:
comm_analysis['clean'] =  comm_analysis['comment'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))
comm_analysis['clean'] = comm_analysis['clean'].transform(lambda txt: clean_text_round1(txt)).transform(lambda txt: clean_text_round2(txt))

In [19]:
text = comm_analysis['clean'][0]
nlp = spacy.load('en_core_web_sm')
nlp.add_pipe("spacytextblob")
nlp(text)
nlp(text)._.blob.polarity
get_polarity(text)
# print(doc._.blob.polarity)
# print(doc._.blob.subjectivity)

0.30122663921444404

In [44]:
def get_polarity(txt):
    return nlp(txt)._.blob.polarity
polarity_getter = get_polarity
def get_subjectivity(txt):
    return nlp(txt)._.blob.subjectivity
subjectivity_getter = get_subjectivity

In [45]:
final_text_analysis = comm_analysis
final_text_analysis['polarity'] = final_text_analysis['clean'].apply(polarity_getter)
final_text_analysis['subjectivity'] = final_text_analysis['clean'].apply(subjectivity_getter)
final_text_analysis

,videoID,comment,clean,polarity,subjectivity
0,SwSbnmqk3zY,"Hi Thoufiq, this is very impressive! I‚Äôm watch...",hi thoufiq impressive im watching purely curio...,0.301227,0.545183
1,B_xNI6tuOeI,Very Impressive finishing work. Nice to see th...,very impressive finishing work nice see pride ...,0.352873,0.541713
2,vGJL0BgVMOw,perfect taste combination... gonna try this re...,perfect taste combination gonna try recipe üòãüòãn...,0.600000,0.920000
3,ianApRDflh0,Here‚Äôs the potato harvest! https://youtu.be/UK...,heres potato harvest httpsyoutubeukmsnboeofe i...,0.271048,0.480078
4,8nQUQJKnX0E,Good,good,0.700000,0.600000
5,K4a3dTScBlg,Having a toilet was must for our camper van an...,having toilet must camper van were super happy...,0.237805,0.486941
6,pb4xXXEA8zk,Girl!! You are on a serious streak with these ...,girl you serious streak last few i mean i love...,0.120417,0.537083