In [64]:
import pandas as pd
import sqlalchemy
import sklearn
import psycopg2
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
#import numpy as np
conn_string = "postgresql://youtube-project:Zhanghaokun_6@35.226.197.36/youtube-content"
engine = sqlalchemy.create_engine(conn_string)
sql_query = """
select
	total_vids."videoID",
	complete_videos.title ,
	complete_videos."channelID" ,
	total_vids.views_count ,
	total_vids.likes ,
	total_vids.comments_ ,
	total_vids.length_ ,
	total_vids.like_ratios ,
	total_vids.comment_ratio ,
	total_vids.polarity ,
	total_vids.subjectivity
from
	total_vids
left join complete_videos on
	total_vids."videoID" = complete_videos."videoID"
"""
'/Users/amalkadri/Library/DBeaverData/workspace6/General/Scripts/create_combined_distinct_view.sql'

'/Users/amalkadri/Library/DBeaverData/workspace6/General/Scripts/create_combined_distinct_view.sql'

In [65]:
stats_table = pd.read_sql(sql_query, engine)

In [66]:
#stats_table[(stats_table['videoID'])]
stats_table.head(2)

,videoID,title,channelID,views_count,likes,comments_,length_,like_ratios,comment_ratio,polarity,subjectivity
0,000rTnCPOT4,Thai SELECT x Pick Thai,UCXYhBT2wYVulWxoU5zJVICQ,155.0,5.0,1.0,0 days 00:01:22,0.032258,0.006452,0.5,0.5
1,00ecIrftJCQ,Hide and seek chase against the last SS(shadow...,UC7fPqLmUcavrqQJ04qwBLTg,10.0,1.0,0.0,0 days 00:03:26,0.100000,0.000000,0.0,0.0

In [67]:

features = ['views_count','likes','comments_','like_ratios','comment_ratio','polarity','subjectivity']
id_frame = ['videoID','title','channelID']
# Separating out the features
x = stats_table.loc[:, features].values
# Separating out the target
y = stats_table.loc[:,id_frame].values
# Standardizing the features
x = StandardScaler().fit_transform(x)

In [68]:

pca = PCA(n_components=1)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['PC1'])

In [69]:
finalDf = pd.concat([stats_table[['videoID','title','channelID']], principalDf], axis = 1).sort_values(by='PC1',ascending=False)

In [70]:
finalDf.head(6)

,videoID,title,channelID,PC1
13213,o2PiIZjHCJk,Edible lipstick! || SMART PARENTING HACKS AND ...,UCBBZ7No0AzEJ3qiatjSa-mg,105.838037
9751,J1UcTPvVdhg,Building A Magical Mini Apartment For Queen El...,UCw5VDXH8up3pKUppIvcstNQ,84.205223
21737,1GxbXe80iXw,Build The Most Temple Swimming Pools Underground,UCj6VfZEQTxX8Tp2My5L9Ykw,77.048688
2444,79vZrthC_og,Beef Stir Fry and Fried Rice | MINIATURE COOKI...,UCbtgvc9joz_6xBr4OLoy0iA,74.401860
36228,qrAOQgfSFu0,I tried to design the perfect legging… #shorts,UCIJwWYOfsCfz6PjxbONYXSg,50.380292
29422,guNRTo1k6OQ,TUTORIAL: PERFECT COUPLE GAME || MOBILE GAME A...,UCBBZ7No0AzEJ3qiatjSa-mg,48.718028

In [95]:
import spacy
from spacytextblob.spacytextblob import SpacyTextBlob

egg = 'How to fry an egg'
'How to Salsa'
'Draw Sonic the Hedgehog'
'How to Teach Python'
'How to change your oil'

egg_list = egg.split(' ')
' & '.join(egg_list)

'How & to & fry & an & egg'

In [87]:
#sonic the hedgehog
from sqlalchemy import create_engine, text
conn_string = "postgresql://youtube-project:Zhanghaokun_6@35.226.197.36/youtube-content"
engine = sqlalchemy.create_engine(conn_string)
sonic_query = '''select
	total_vids."videoID",
	complete_videos.title,
	complete_videos."channelID",
	total_vids.views_count,
	total_vids.likes,
	total_vids.comments_,
	total_vids.length_,
	total_vids.like_ratios,
	total_vids.comment_ratio,
	total_vids.polarity,
	total_vids.subjectivity
from
	total_vids
left join complete_videos on
	total_vids."videoID" = complete_videos."videoID"
where total_vids."videoID" in (select "videoID" from complete_videos where title like '% Sonic %' and title like '% draw %');
'''
python_query = """select
	total_vids."videoID",
	complete_videos.title ,
	complete_videos."channelID" ,
	total_vids.views_count ,
	total_vids.likes ,
	total_vids.comments_ ,
	total_vids.length_ ,
	total_vids.like_ratios ,
	total_vids.comment_ratio ,
	total_vids.polarity ,
	total_vids.subjectivity
from
	total_vids
left join complete_videos on
	total_vids."videoID" = complete_videos."videoID"
where
	total_vids."videoID" in
(
	select
		"videoID"
	from
		complete_videos
	where
		title like '%python%'
		or title like '%Python%'
)"""

salsa_query = """select
	total_vids."videoID",
	complete_videos.title ,
	complete_videos."channelID" ,
	total_vids.views_count ,
	total_vids.likes ,
	total_vids.comments_ ,
	total_vids.length_ ,
	total_vids.like_ratios ,
	total_vids.comment_ratio ,
	total_vids.polarity ,
	total_vids.subjectivity
from
	total_vids
left join complete_videos on
	total_vids."videoID" = complete_videos."videoID"
where
	total_vids."videoID" in
(
	select
		"videoID"
	from
		complete_videos
	where title like '%dance%'
		and (title like '%Salsa%'
		or title like '%salsa%')
)"""

In [89]:
stats_table = pd.read_sql(text(salsa_query), con=engine)
features = ['views_count','likes','comments_','like_ratios','comment_ratio','polarity','subjectivity']
id_frame = ['videoID','title','channelID']
# Separating out the features
x = stats_table.loc[:, features].values
# Separating out the target
y = stats_table.loc[:,id_frame].values
# Standardizing the features
x = StandardScaler().fit_transform(x)
pca = PCA(n_components=1)
principalComponents = pca.fit_transform(x)
principalDf = pd.DataFrame(data = principalComponents, columns = ['PC1'])
finalDf = pd.concat([stats_table, principalDf], axis = 1).sort_values(by='PC1',ascending=False)
finalDf.head(6)

,videoID,title,channelID,views_count,likes,comments_,length_,like_ratios,comment_ratio,polarity,subjectivity,PC1
4,DulNbw0eMG0,Social dances - Bachata &amp; Salsa - 🌎DanceWi...,UCIdSX1H7ZBCpr8FS7DOnmVA,59011.0,1467.0,35.0,0 days 00:00:30,0.024860,0.000593,0.323333,0.631667,6.083380
5,-DIbUuA9EqY,LA Style Salsa On1 dance class in Miami - Kari...,UC4VOiGIsNcDXvzRi4T6PYOg,579.0,19.0,2.0,0 days 00:01:13,0.032815,0.003454,0.600000,1.000000,2.010204
7,7body96IMmE,How to dance salsa,UCqmWsQ0KJ1feAyWspohY59w,464.0,7.0,1.0,0 days 00:01:23,0.015086,0.002155,0.300000,0.200000,0.259418
0,id8vFYJMmFQ,🔥 SALSA 🔥 How to dance Salsa like a Pro? - Beg...,UCIdSX1H7ZBCpr8FS7DOnmVA,1658.0,58.0,3.0,0 days 00:06:25,0.034982,0.001809,0.000000,0.000000,-0.465498
12,9hXuPuY7ZUU,Salsa Dance Crash Course @danceScape with Cait...,UCUzcwHLtw3Gdgghz48BEbAA,121.0,0.0,0.0,0 days 00:00:22,0.000000,0.000000,0.000000,0.000000,-0.737972
2,Y-r62zk3muw,#justfeet @danceScape - Salsa or Jive/Swing (T...,UCUzcwHLtw3Gdgghz48BEbAA,48.0,0.0,0.0,0 days 00:00:30,0.000000,0.000000,0.000000,0.000000,-0.740170